/*Normaliza*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&family=Lexend+Deca&display=swap");
* {
  box-sizing: border-box;
  margin: 0px; }

/* Variables */
/*Fonts*/
/*Helpers*/
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

/*ESTILO HOME*/
.homepage {
  height: 100vh;
  background-color: #090b1a;
  font-family: Inter;
  justify-content: center;
  align-items: center;
  color: white; }
  .homepage__main {
    background-color: #1b1938;
    border-radius: 20px;
    margin: 0 auto;
    width: 60%;
    flex-wrap: nowrap; }

.datos {
  margin: 80px;
  flex-basis: 40%; }
  .datos__titulo {
    font-size: 1.1em; }
  .datos__descripcion {
    color: rgba(255, 255, 255, 0.75);
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px; }
    .datos__descripcion h2 {
      font-weight: 200;
      font-size: 0.9em; }
  .datos__stats {
    justify-content: space-between;
    margin-top: 100px;
    width: 80%; }
    .datos__stats__numbers {
      font-family: Lexend Deca; }
      .datos__stats__numbers:hover {
        transform: scale(1.1); }
      .datos__stats__numbers h3 {
        font-size: 1.4em;
        margin-bottom: 5px; }
      .datos__stats__numbers p {
        color: rgba(255, 255, 255, 0.6);
        font-size: 0.8em;
        font-weight: lighter; }

.imagen {
  flex-basis: 50%; }
  .imagen img {
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; }
